* {
  scroll-behavior: smooth
}

body {
  color: #232350;
  background-color: #fff !important;
  font-size: 15px;
  font-family: 'Jost', sans-serif;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 50px;
  height: 50px;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #41adef05;
  box-shadow: 0 0 20px 0 #a0a6b8;
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  transition: .3s ease-in-out;
}

header.menuopen {
  height: 100vh;
  background-color: #a0a6b870;
}

header>* {
  height: 50px;
  color: #41adef
}

header+* {
  margin-top: 74px
}

blockquote {
  border: #d3d3d3 1px solid;
  margin: 0 !important;
  padding: 14px;
  border-radius: 15px !important
}

h1 {
  text-align: center;
  font-size: 30px
}

h2 {
  width: 100%;
  background-color: #eaeaee;
  height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 34px;
  font-size: 16px
}

h2[id]::before {
  display: block;
  height: 70px;
  margin-top: -70px;
  content: ""
}

h3 {
  color: #41adef;
  margin: 15px 0 0 0;
  font-size: 15px;
  line-height: 15px
}

h3[id]::before {
  display: block;
  height: 70px;
  margin-top: -70px;
  content: ""
}

p {
  margin: 7.5px 0
}

ul.index>ul {
  margin: 15px 0 1rem 7.5px
}

ul.index>ul>li {
  margin-bottom: 8px
}

a {
  color: #41adef;
  text-decoration: none
}

label {
  vertical-align: middle;
}

input {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

input[type="text"],
textarea {
  margin: 5px;
  outline: none;
  border: #d3d3d3 1px solid;
  background-color: #eaeaee;
}

input[type="color"] {
  border: #d3d3d3 1px solid;
  background-color: #eaeaee;
}

input[type="button"] {
  border: #41adef 1px solid;
  border-radius: 30px;
  background-color: transparent;
  color: #41adef;
}

.title {
  float: left;
  margin-left: 50px;
  font-size: 25px;
  font-weight: 600;
  line-height: 50px;
  width: calc(100% - 100px);
  filter: drop-shadow(0 0 20px #a0a6b8);
  text-align: center;
  white-space: nowrap;
  user-select: none;
}

.headericon {
  width: 50px;
  font-size: 18px;
  text-align: center;
  float: left;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headericon>.material-icons {
  line-height: 50px;
  margin: 0;
  padding: 0
}

.headericon+.title {
  margin-left: 0;
}

.headericon .ani {
  background-color: #41adef !important;
}

.headermenu {
  float: left;
  width: 100%;
}

.menuitem,
.menutitle {
  display: block;
  width: 100%;
  text-align: center;
  filter: drop-shadow(0 0 20px #a0a6b8);
}

.menutitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
  color: #232350;
}

.menuitem {
  font-size: 17.5px;
  cursor: pointer;
}

.ctr {
  width: 87%;
  margin-right: auto;
  margin-left: auto
}

.point {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin: 1rem auto 2rem auto;
  background-color: #aaa
}

.inline-icon {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle
}

.signature {
  font-size: 14px;
  text-align: center
}

pre {
  width: 100%;
  white-space: pre
}

code {
  font-size: 14px;
  white-space: nowrap;
  background-color: #eaeaee;
  border: #d3d3d3 1px solid;
  user-select: all
}

pre>code {
  display: block;
  padding: 3.5px 7px;
  white-space: pre
}

.mdl {
  width: 100vw;
  height: 1000vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  backdrop-filter: blur(10px) brightness(1);
  opacity: 0;
  touch-action: none;
  transition: opacity .3s;
}

.mdl .mdlopen {
  opacity: 1;
}

.material-icons {
  user-select: none;
}


.animated-icon {
  position: relative;
  width: 38px;
  height: 38px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
}

.animated-icon .ani {
  top: 18px;
  left: 10px;
}

.animated-icon .ani,
.animated-icon .ani:before,
.animated-icon .ani:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 18px;
  background: rgb(33, 33, 33);
  -webkit-transition: .3s;
  transition: .3s;
}

.animated-icon .ani:before,
.animated-icon .ani:after {
  background: inherit;
}

.animated-icon.menu-cross .ani:before {
  top: -5px;
  right: 0;
}

.animated-icon.menu-cross .ani:after {
  top: 5px;
  right: 0;
}

.animated-icon.menu-cross.anim .ani {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon.menu-cross.anim .ani:before {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.animated-icon.menu-cross.anim .ani:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}